@font-face {
  font-family: Azonix;
  src: url(../fonts/Azonix.otf);
}

* {
    box-sizing: border-box;
    font-family: monospace;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    background-image: url('https://github.com/kunalp03/Ambiora-official/blob/main/images/bg1.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #03002E;
    font-family: monospace;
    /* font-family: monospace; */
  }
  
  .button{
    padding: 15% 15%;
    background-color: red;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
  }
  .calendar {
    /* padding-right: 50%; */
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 15%; */
      /* background: #011635; */
      border-radius: 4px;
      font-family: 'copperplate';
      /* box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
      height: 500px;
      perspective: 1000;
      transition: .9s;
      /* transform-style: preserve-3d; */
      width: 50%;
  }
  .calendar2{
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 15%; */
      background: white;
      border-radius: 20px;
      /* box-shadow: 0 5px 20px rgba(0, 0, 0, .3); */
      height: 485px;
      perspective: 1000;
      transition: .9s;
      /* transform-style: preserve-3d; */
      width: 50%;
  }
  
  .current-date {
      border-bottom: 1px solid rgba(73, 114, 133, .6);
      display: flex;
      justify-content: space-between;
      padding: 30px 30px;
  }
  
  .current-date h1 {
      color: #dfebed;
      /* font-size: 1.4em; */
      font-weight: 300;
      font-family: monospace;
  }
  
  .week-days {
      color: #dfebed;
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      padding: 30px 40px;
  }
  
  .days {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .weeks {
      color: #fff;
      display: flex;
      flex-direction: column;
      padding: 0 40px;
  }
  
  .weeks div {
      display: flex;
      font-size: 1.2em;
      font-weight: 300;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;
  }
  
  .last-month {
      opacity: .3;
  }
  
  .weeks span {
      padding: 10px;
  }
   
  button:hover {
      background: rgb(240, 80, 168);
      cursor: pointer;
  }

  .event{
    background-color: #f52787; 
    border: none; 
    color: white;
    font-size: large;
    padding: 35%;
    cursor: pointer;
    border-radius: 50%;
  }
  .container{
    display: flex;
  }
  .sch{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 100px;
    font-family: 'Azonix';
    color: whitesmoke;
    text-align: center;
  }
  .heading{
    font-size: 40px;
  }
  .title1{
    font-size: 28px;
    font-weight: lighter;
    /* font-style: italic; */
    /* font-family: 'Trebuchet MS'; */
  }
  .time{
    float: right;
    margin-right: 9%; 
    font-size: 20px; 
    margin-top: 0.7%;
  }
  
  @media screen and (min-width:882px) and (max-width:1300px){
    .calendar2{
      /* width: 90%; */
      height: 600px;
  }
    .heading{
      font-size: 36px;
    }
    .title1{
      font-size: 26px;
    }
    .time{
      font-size: 17px;
    }
  }
  @media screen and (min-width:575px) and (max-width:882px) {
    .container{
        display: block;
    }
    .calendar{
        width: 90%;
    }
    .calendar2{
        width: 90%;
        height: 550px;
    }
    .heading{
      font-size: 33px;
    }
    .title1{
      font-size: 23px;
    }
    .time{
      font-size: 14px;
      display: block;
      /* float: left; */
    }
    .sch{
        font-size: 50px;
    }
  }
  @media screen and (max-width:575px){
    .container{
      display: block;
    }
    .calendar{
      width: 90%;
    }
    .calendar2{
      width: 100%;
      height: 550px;
    }
    .heading{
      font-size: 33px;
    }
    .title1{
      font-size: 23px;
    }
    .time{
      font-size: 14px;
      display: block;
      /* float: left; */
    }
    .sch{
      font-size: 50px;
  }
  
  }
  @media screen and (min-width: 641px) and (max-width: 1007px) {
    .sch{
      font-size: 75px;
  }
}

@media screen and (min-width:1008px) {
  .sch{
    font-size: 100px;
}
}

  
  
