/* @import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix); */
@font-face {
    font-family: Azonix;
    src: url(../fonts/Azonix.otf);
}

*{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
body{
    background-color: rgb(29, 10, 29);
}
.menu{
    cursor: pointer;
    color: white;
    height: 33px;
    position: relative;
    width: 42px;
    top: 9px;
}

#home{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#home p{
  color: white;
  font-size: 33px;
  font-weight: bold;
  position: relative;
  top: 22px;
  /* font-family: 'copperplate', sans-serif;                                              */
  font-family: 'Azonix';
  text-align: center;
}
#home img{
    width: 335px;
    height: 335px;
}

/* Countdown  */


h2 {
    text-align: center;
    font-family: 'Azonix';
    font-size: 50px;
    color: #fff;
    padding-bottom: 25px;
}

.timer {
padding-top: 20px;
padding-bottom: 100px;
text-align: center;
}

@media screen and (max-width:575px){
    h2{
        font-size: 33px;
    }
    .about p{
        padding: 0px 30px;
        font-size: 15px;
    }
}
      
/* About Us */
.abt{
    padding-left: 200px;
    padding-right: 200px;
    /* padding-top: 5px; */
    padding-bottom: 100px;
    font-size: 25px;
    text-align: justify;
    color: #fff;
}