/* @import url(//db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix); */
@font-face {
    font-family: Azonix;
    src: url(../fonts/Azonix.otf);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-image: url('/images/topbar.png'); */
    background-color: rgb(20, 19, 61);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav .left img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}
nav .links{
    display: flex;
    align-items: center;
}
nav .links li{
    list-style: none;
    padding: 22px 20px;
    font-family: 'copperplate', sans-serif;
}
nav .links li a, nav .left .lefttxt{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
    font-size: 25px;
    /* font-family: 'copperplate', sans-serif; */
    font-family: 'Azonix';                      
}
nav .left .lefttxt{ 
    padding-left: 20px;
}
nav .links li a:hover{
    /* text-decoration: underline; */
    color: lightblue;
}

@media screen and (max-width:969px){
    nav .links li a{
        padding: 0px;
        font-size: 15px;            
    }
    nav .left img{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width:537px){
    nav .links li a{
        padding: 0px;
        font-size: 9px;            
    }
    nav .links li{
        padding: 17px 10px;
    }
    nav .left img{
        width: 30px;
        height: 30px;
    }
    nav .left .lefttxt{
        display: none;
    }
}

@media screen and (max-width:310px){
    nav .links li a{
        padding: 0px;
        font-size: 7px;            
    }
    nav .links li{
        padding: 22px 4px;
    }
    nav .left .lefttxt{
        display: none;
    }
}