/* @import url('https://fonts.cdnfonts.com/css/azonix'); */
@font-face {
    font-family: Azonix;
    src: url(../fonts/Azonix.otf);
}

body 
{
    padding: 0px;
    margin: 0px;
    /* background-image: url('/images/background.png'); */
    background-image:url('https://github.com/kunalp03/Ambiora-official/blob/main/images/background.png?raw=true');

    /* background-color: rebeccapurple; */
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(20,19,61);
}

/* h1
{
    text-align: center;
    font-size:75px;
    color: white;
    font-family: 'Azonix', sans-serif;
} */

h2
{
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Azonix';
}

h5
{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tech_heads{
    padding-top: 4%;
}

.Profiles
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0px 50px 0px 50px;
    padding-bottom: 0px;
    
}

.ProfileCard
{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    text-decoration: none;
    border: 5px solid darkblue;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.ProfileCardContent 
{
    width: 210px;
    height: 175px;
    justify-content:center;
    text-decoration: none;
}

.ProfileCardContent a
{
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}

.foot
{
    background-color: rgb(29, 105, 173);
    padding-bottom: 0px;
    justify-items:center;
    justify-content: center;
}

.amlogo
{
    text-decoration: none;
    display: flex;
    justify-content: right;
    
}

.amlogo a
{
    margin: -41px 20px 0px 10px;
}

@media screen and (max-width:640px) {
    .Profiles {
        transform: scale(0.45);
    }
    h2 {
        font-size: 50px;
    }
    
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
    .Profiles {
        transform: scale(0.8);
    }
    h2 {
        font-size: 75px;
    }
}

@media screen and (min-width:1008px) {
    .Profiles {
        transform: scale(1.0);
    }
    h2 {
        font-size: 100px;
    }
}


